.bg {
    background-image: url("../media/bg_gradient1.png");
    /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.bg-login {
    background-image: url("../media/bg_gradient1.png");
    /* width: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-size: cover;
}
.margin-div {
    margin: 2%;
    background: linear-gradient(
        123.16deg,
        rgba(255, 255, 255, 0.6) 0.66%,
        rgba(255, 255, 255, 0.21) 100%
    );
    border: 1px solid;
    border-image-source: linear-gradient(
        118.35deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.3) 100.8%
    );
    border-radius: 24px !important;
    overflow: hidden;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.07) !important;
}

.side-div {
    background: linear-gradient(
            151.96deg,
            rgba(255, 255, 255, 0.8) 0.49%,
            rgba(255, 255, 255, 0.42) 97.45%
        ),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.login-div {
    background: linear-gradient(
        123.16deg,
        rgba(255, 255, 255, 0.6) 0.66%,
        rgba(255, 255, 255, 0.21) 100%
    );
}

.main {
    margin: 2%;
    border-radius: 24px !important;
    /* border: 4px solid; */
    overflow: hidden;
}
.big-img {
    display: flex;
    justify-content: center;
}
img.img-big {
    background-repeat: no-repeat;
    object-fit: contain;
    height: 240px;
}

@media screen and (min-width: 1024px) {
    /* img.img-big {
    } */
}

.side-img {
    margin: 0 auto;
    padding: 0 20px;
    /* min-width: 40%; */
    border: 1px solid rgba(255, 255, 255, 1);
    background: linear-gradient(
            151.96deg,
            rgba(255, 255, 255, 0.8) 0.49%,
            rgba(255, 255, 255, 0.42) 97.45%
        ),
        linear-gradient(0deg, #ffffff, #ffffff);
}

.logo {
    position: relative;
    position: relative;
    bottom: -1%;
    right: 10%;
    /* height: 10px; */
}
.welcome {
    text-align: center;
}

.logo img {
    height: 82px;
}

.welcome h1 {
    font-size: 30px !important;
    color: #00426e;
}

.welcome p {
    color: #00426e;
    font-size: 24px !important;
    text-align: center;
    line-height: 30px;
}

.login {
    padding: 60px;
    flex: 1;
    background: linear-gradient(
        123.16deg,
        rgba(255, 255, 255, 0.6) 0.66%,
        rgba(255, 255, 255, 0.21) 100%
    );
    border: 1px solid;

    border-image-source: linear-gradient(
        118.35deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.3) 100.8%
    );
}

label.user-label {
    font-size: 15px !important;
}

.form h1 {
    font-size: 40px;
}

a.forgot {
    line-height: 20px;
    color: #00426e;
    float: right;
    margin-top: -18px;
    font-size: 16px !important;
}

.submit_btn {
    width: 500px;
    background: #00426e;
    color: white;
    margin-top: 6%;
}

p.p-dont {
    font-size: 16px;
    text-align: center;
    margin-top: 2%;
}

.dont span {
    color: #00426e;
}
